body {
  background-image: url(http://umbrel.local/wallpapers/6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the buttons */
.btn {
  background-color: #1da1f2;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
}
